<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body class="flex flex-col gap-2 p-4 min-h-dvh">
    <%- include("../includes/header.ejs") %>

    <main class="border p-4 h-full flex gap-4 flex-col">
      <%- include("../includes/title.ejs") %>

