<%- include("../../layouts/main-top.ejs") %>

<div>
  <form action="/admin/article/add" method="post" enctype="multipart/form-data">
    <div class="flex flex-col gap-5">
      <div class="flex justify-between w-[50%]">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          name="title"
          class="border border-blue-300 p-2"
        />
      </div>

      <div class="flex justify-between w-[50%]">
        <label for="title">Text</label>
        <textarea
          id="title"
          type="text"
          name="text"
          class="border border-blue-300 p-2"
        ></textarea>
      </div>

      <div class="flex justify-between w-[50%]">
        <label for="title">File</label>
        <input
          type="file"
          name="file"
          class="border border-blue-300 p-2"
        ></textarea>
      </div>

      <div>
        <button
          type="submit"
          class="border bg-blue-500 px-5 py-2 rounded text-white"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<%- include("../../layouts/main-bottom.ejs") %>
